<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="genaker_pricepercustomercompany" id="genaker_pricepercustomercompany">
			<module before="Magento_Backend" name="Genaker_PricePerCustomerCompany"/>
		</route>
	</router>
</config>
